DATABASE_URL=
SECRET_KEY=
ALLOWED_ORIGINS=
JWT_ALGORITHM=

# Access Token
JWT_ACCESS_TOKEN_EXPIRATION_MINUTES=
JWT_REFRESH_TOKEN_EXPIRATION_MINUTES=

# Cookie settings
COOKIE_DOMAIN=
COOKIE_SECURE=
COOKIE_SAMESITE=

VITE_API_URL=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
